AuthenticationMethods publickey
AuthorizedKeysFile /etc/ssh/authorized_keys/%u
ClientAliveInterval 0
DisableForwarding yes
PermitRootLogin no
Port 22
Port CHANGEME
PrintLastLog no

Match LocalPort 22
	AllowUsers git

Match LocalPort CHANGEME
	AllowUsers acidvegas